@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #d2e0fb;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .container {
} */

.Welcome-section {
  text-align: center;
  background-color: #91ddcf;
  border: 3px solid #7e7d7d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#player-section {
  text-align: center;
  background-color: #91ddcf;
  border: 3px solid #7e7d7d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
  animation: fadeIn 1s ease-in-out;
}

#category-section {
  text-align: center;
  background-color: #91ddcf;
  border: 3px solid #7e7d7d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
  animation: fadeIn 1s ease-in-out;
}

.title {
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  color: #4d4545;
}

button {
  background-color: #007bff;
  color: white;
  font-size: 20px;
  text-align: center;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input {
  width: 80%;
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}

.error {
  border: 2px solid red;
}

.quiz-container {
  background-color: #91ddcf;
  border: 2px solid #7e7d7d;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.option-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Category-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Category-buttons i {
  margin: 0 10px;
}

.option-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.option-btn:hover {
  background-color: #218838;
}

.loader {
  width: 17px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  display: grid;
  animation: l22-0 2s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  margin: 15%;
  border-radius: 50%;
  background: inherit;
  transform: rotate(0deg) translate(150%);
  animation: l22 1s infinite;
}
.loader:after {
  animation-delay: -0.5s;
}
@keyframes l22-0 {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes l22 {
  100% {
    transform: rotate(1turn) translate(150%);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loader-container {
    margin: 500px;
  }

  .Welcome-section {
    width: 50%;
  }

  #player-section {
    width: 50%;
  }

  input {
    text-align: center;
  }

  #category-section {
    width: 50%;
  }

  .quiz-container {
    width: 50%;
  }

  .option-container {
    grid-template-columns: 1fr;
  }

  .Category-buttons {
    grid-template-columns: 1fr;
  }
}
